.prodcard
{
    height: 200px;
    width: 200px;
    margin: auto;

}
.imgspec{
    position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;  
        top: 0;
        max-width: 100%;
        max-height: 100%;
  }
.prodname
{
    text-align: center;
    margin-top: 20px;
    font-size: initial;
    font-weight: 800;
    font-family: Lora;
}
.imgspec{
  position: absolute;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;  
      top: 0;
      max-width: 100%;
      max-height: 100%;
}
ion-card-title{
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
    padding: 0px 1em 0px 1em;
}
.wrapper
{
    text-align: center
}
p{
margin: auto;
}